body{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    animation: fadeInAnimation ease 3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}



#site_wrap{
    background-color: red;
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-columns: 1fr repeat(4, minmax(0, 272px)) 1fr;
    grid-gap: 0px;
    grid-template-areas: "nav_bar nav_bar nav_bar nav_bar nav_bar nav_bar"
        "contentBlock1 contentBlock1 contentBlock1 contentBlock1 contentBlock1 contentBlock1"
        "contentBlock2 contentBlock2 contentBlock2 contentBlock2 contentBlock2 contentBlock2"
        "contentBlock3 contentBlock3 contentBlock3 contentBlock4 contentBlock4 contentBlock4"
}



.nav_bar{
    background-color: #272626;
    grid-area: nav_bar; 
    height: 4vh;
    position: absolute;
    font-family: "Lucida Console", Helvetica, sans-serif;
    width: 100%;
    max-width: 100vw;
    display: table;
}
.nav_bar audio{
    float:right;
    margin-top: 1em;
    padding-right: 2em;
}
.nav_bar img{
    float:left;
    padding-left: 2em;
    padding-top: 1em;
    padding-bottom: 1em;
}

.nav_bar img:hover{
    transform:scale(1.2);
}

.contentBlock1{
    background-color: #EC8510;
    grid-area: contentBlock1;
    height: 70vh;
    position: static; 
    max-width: 100%;
    padding-bottom: 2em;
}

.contentBlock1 .moon{
    float:left;
    display: inline-block;
    position: relative;
    padding-left: 1em;
    padding-top: 20vh;
    max-width: 40vw;
    min-width: 20vw;
    height: auto;
    float: left;
    border: none;
}

.contentBlock1 .cat{
    float:right;
    display: inline-block;
    position: relative;
    padding-right: 1em;
    padding-top: 20vh;
    padding-bottom: 2em;
    max-width: 35vw;
    min-width: 18vw;
    height: auto;
    border: none;
}
.contentBlock1 .entryText{
    padding-top: 23vh;
    float:left;
    align-content: center;
    text-align: center;
    font-size: 30pt;
    max-width: 55vw;
    font-family: "Yu Gothic", Arial, sans-serif;
    animation: fadeIn 5s;
    -webkit-animation: fadeIn 5s;
    -moz-animation: fadeIn 5s;
    -o-animation: fadeIn 5s;
    -ms-animation: fadeIn 5s;
}
.contentBlock1 .longText{
    padding-top: 12vh;
    padding-left: 5vw;
    float:left;
    align-content: center;
    text-align: center;
    font-size: 30pt;
    max-width: 85vw;
    font-family: "Yu Gothic", Arial, sans-serif;
    animation: fadeIn 5s;
    -webkit-animation: fadeIn 5s;
    -moz-animation: fadeIn 5s;
    -o-animation: fadeIn 5s;
    -ms-animation: fadeIn 5s;
}
.contentBlock2{
    align-content: center;
    
}

.contentBlock2 .banner{
    width: 100%;
    height: auto;
    
}

.contentBlock2 button{
    position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      background-color: #EC8510;
      color: white;
      font-size: 16px;
      padding: 12px 45px;
      border: none;
      cursor: pointer;
      border-radius: 5px;
    top:110vh;
}

.contentBlock2 button:hover{
    background-color: black;
    transform:scale(1.2);
}

.side{
    100vw;
}
.contentBlock3{
    grid-area: contentBlock3;
    height: auto;
    position: static;
    max-width: 50%;
    display: table;
    
}

.side .halfBan1{
    width: 49.5vw;
    height: auto;
    float:left;
    
}
.side .halfBan2{
    width: 49.4vw;
    height: auto;
    float:right;
}

.contentBlock4{
    grid-area: contentBlock4;
    height: auto;
    position: absolute;
    font-family: "Yu Gothic", Arial, sans-serif;
    float:right;
    display: table;
    max-width: 50%;
    left:0;
    
    
}

.side .choice1{
    position: absolute;
      top: 75%;
      left: 25%;
      transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      background-color: #EC8510;
      color: white;
      font-size: 16px;
      padding: 12px 45px;
      border: none;
      cursor: pointer;
      border-radius: 5px;
    top:110vh;
}

.side .choice1:hover{
    background-color: black;
    transform:scale(1.2);
}
.side .choice2:hover{
    background-color: black;
    transform:scale(1.2);
}

.side .choice2{
    position: absolute;
      top: 75vh;
      left: 75vw;
      transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      background-color: #EC8510;
      color: white;
      font-size: 16px;
      padding: 12px 45px;
      border: none;
      cursor: pointer;
      border-radius: 5px;
    top:110vh;
}

@keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-moz-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-webkit-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-o-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-ms-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
     }
}